<div class="small__card__container">
  <div class="small__card__content__container">
    <div class="small__card__picture">
      <img
        src="{{ photoCover }}"
        alt=""
      >
    </div>

    <div class="small__card__written">
      <div class="small__card__date">
        <p>{{ date }}</p>
      </div>

      <div class="small__card__title">
        <p><a [routerLink]="['content', Id]">{{ cardTitle }}</a></p>
      </div>
    </div>
  </div>

  <div class="small__card__header__container">
    <hr>
  </div>
</div>


